*   {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1500px
  }


.border-1{
     height: 1.5px;
     background: linear-gradient(
        270deg,
        #222222,
        #ccc
        )
     
    
}

.border-2{
    height: 1.5px;
    background: linear-gradient(
       270deg,
       #ccc,
       #222222
      
    )
    
   
}

section {
    min-height: 500px;
}
/* Menu de navegação*/
header  {
    background-color: #800080;
    display: flex;
    justify-content: space-between;
    height: 100px;

}
nav {
    align-items: center;
    
}

header img{
    margin-left: 100px;
}
nav ul  {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 100px;
    
  
  
}
  

nav ul li {
    list-style-type: none;
    font-style: none;
    margin-left:16px ;
    padding-left: 20px;
    
    
}
  nav ul li a {
    text-decoration: none;
    color: white;
    
    
}

/* Páginas */

#quem-somos{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

#quem-somos{
    height: 300px;
}


#quem-somos img{

    margin-left: 200px;
    margin-right: 10px;
 
}

#text-quem-somos{
    color: #800080;
    padding: 100px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: white;
}

#text-quem-somos h2{
    font-size: xx-large;
    margin-bottom: 15px;
    
}

#text-quem-somos p::first-letter{
    font-size: 150%;
}



/*PRINCIPAIS GOLPES*/



#principais-golpes{
    background-color: #800080;
    padding-top: 10px;
}

#principais-golpes .cards{
    display: flex;
    justify-items: center;
    justify-content: center;
}


#principais-golpes .card {
    background-image: url(/img/bgs/bg-golpes.png);
    margin: 15px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
    height: 400px;
    width: 300px;
    border-radius: 16px;
}

#principais-golpes .card img{
    height: 35%;
}

#principais-golpes strong{
    color: #800080;
}

.titulo{
    font-size: 40px;
    text-align: center;
    margin: 50px;
    color: white;
}

.titulo-2{
    font-size: 40px;
    text-align: center;
    margin: 50px;
    color: #800080;
}

.card h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #800080;
}


#principais-golpes a {
    text-decoration: none;
    color: #f8e9e9;
}

/* PROTEÇÃO */

#protecao{
    height: 750px;
}
#text-protecao{

    width: 500px;
    margin: 100px;
    margin-left: 200px;
    

}

#text-protecao h2{

    font-size: xx-large;
    text-align: center;
    margin-bottom: 15px;
    
    
}

.protecao-text{

    color: #800080;
    align-items: center;
    justify-content: center;
    text-align: justify;
    

}





#protecao img{

    
    margin-right: 100px;
}

#divide-protecao{
    display: flex;
    justify-content: space-between;
}

#text-protecao p::first-letter{
    font-size: 150%;
}


/* o que fazer */

#o-que-fazer{
    height: 800px;
    background-color: #800080;
    
}

#o-que-fazer #tit{

    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    color: white;
    margin-bottom: 50px;

    
}



#o-que-fazer-text{
    justify-items: center;
 
    align-items: center;
}

#text-o-que-fazer{
    margin-left: 450px;
    width: 450px;
    text-align: center;
    color: white;
}

.swiper {
    margin-top: 130px;
    width: 500px;
    height: 300px;
    color: white;

}

.swiper-slide{
    background-image: url(/img/bgs/bg-3.png);
    text-align: center;
    padding-top: 35px;
} 

.swiper-slide h2{
    margin-bottom: 15px;

}

.swiper-slide p
{

    padding: 0 50px;
    

}
.swiper-slide img{
    height: 40%;
}

#footer{

    background-color: white;
    height: 50px;
    text-align: center;

}

#footer img{
    height: 100%;
}


















